<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhu.dao.PermissionMapper" >
  <resultMap type="com.xhu.entity.Node" id="NodeMap">
      <id column="level" property="id" jdbcType="INTEGER" />
      <result column="p_name" property="text" jdbcType="VARCHAR" />
      <result column="p_method" property="p_method" jdbcType="VARCHAR" />
      <result column="level_p" property="parentId" jdbcType="VARCHAR" />
  </resultMap>
 <select id="searchPer" resultMap="NodeMap" parameterType="java.lang.String">
  
select p.id, p.p_name,p.p_method,p.`level`,p.level_p from user a,role r,permission p,role_user ar, role_p rp  

where a.id=ar.user_id and r.id=rp.r_id and p.id=rp.l_id and r.id=ar.role_id and a.user_name=#{username}
  </select>
</mapper>